@import 'node_modules/reset-css/sass/reset';

$lightPurple: #ECE7F6;
$purple: #D89EE9;
$darkPurple: #941ABD;

$bodyColor: #F5C3C5;
$darkBodyColor: #DAC5D4;

$customDark: #2E2C3A;
$white: #FFFFFF;
$customGray: #F5F5F5;

body {
  color: $customDark;
  font-family: 'Inter', sans-serif;
  background: $customGray;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: $customGray;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: $customGray;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: lighten($darkPurple, 5);
}


.header {
  .navbar {
    background-color: $lightPurple;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 30px;

    @media (min-width: 992px) {
      width: 60px;
      height: 60px;
      margin-left: 0;
    }
  }

  .nav-link {
    color: $customDark;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    &.active {
      color: $darkPurple;
    }

    &:hover {
      color: lighten($darkPurple, 1);
      text-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

main {
  margin-top: 59px;

  @media (min-width: 992px) {
    margin-top: 79px;
  }
}

.btn.btn-custom {
  background: $darkPurple;
  color: $white;
  outline: none;
  border: none;
  border-radius: 5px !important;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  filter: drop-shadow(4px 6px 9px rgba(0, 0, 0, 0.20));

  &:active, &:focus {
    background: darken($darkPurple, 5);
  }

  &:hover {
    background: lighten($darkPurple, 5);
  }

  &.btn-inverse {
    background: $white;
    color: $darkPurple;
    filter: drop-shadow(0px 4px 4px #2E2C3A);
    //filter: drop-shadow(4px 6px 9px rgba(0, 0, 0, 0.20));

    &:active, &:focus {
      background: darken($white, 10);
    }

    &:hover {
      background: darken($white, 5);
    }
  }

  &.btn-lighten {
    background: $bodyColor;
    color: $customDark;
    filter: drop-shadow(0px 4px 4px #2E2C3A);

    &:active, &:focus {
      background: darken($bodyColor, 5);
    }

    &:hover {
      background: lighten($bodyColor, 5);
    }
  }

  &.btn-link {
    background: transparent;
    color: $customDark;
    text-decoration: none;
    filter: none;

    &:hover {
      color: darken($customDark, 10);
      text-decoration: underline;
    }
  }

  &.btn-180 {
    width: 180px;
  }

  &.btn-130 {
    width: 130px;
  }

  &.btn-250 {
    width: 250px;
    padding: 18px;
    font-size: 1.2rem;
  }

  &.btn-300 {
    width: 300px;
    padding: 23px;
    font-size: 1.25rem;
  }
}

strong {
  font-weight: 600;
}

.custom-link {
  color: $darkPurple;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    color: lighten($darkPurple, 5);
  }
}

.home {
  &__head {
    position: relative;

    &-back {
      width: 100%;
      //min-height: calc(100vh - 79px);
      object-fit: cover;

      path {

        stroke: #646464;
        stroke-width: 1px;
        stroke-dasharray: 2, 2;
        stroke-linejoin: round;
      }
    }

    &-front {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      color: $white;

      & > div {
        height: 100%;
      }

      h1 {
        margin-top: 5%;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        cursor: pointer;
      }

      .description {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }

    &-flex {
      width: 48%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__video {
    margin-top: 80px;
    margin-bottom: 80px;

    h2 {
      text-align: center;
      color: $customDark;
      font-size: 2.2rem;
      font-weight: 800;
      margin-bottom: 48px;
    }

    &-content {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
    }

    &-preview {
      width: 100%;
      position: relative;

      .show {
        visibility: unset!important;
      }

      &-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(245, 195, 197, 0.88) 0%, rgba(245, 195, 197, 0.62) 3.86%, rgba(245, 195, 197, 0.00) 14.55%),
        linear-gradient(0deg, #F5C3C5 0.14%, rgba(245, 195, 197, 0.62) 3.98%, rgba(245, 195, 197, 0.00) 14.61%),
        transparent 50% / cover no-repeat;
      }

      &.video {
        cursor: pointer;

        .home__video-preview-gradient {
          background: linear-gradient(180deg, rgba(148, 26, 189, 0.66) 0%, rgba(148, 26, 189, 0.42) 3.86%, rgba(245, 195, 197, 0.00) 14.55%),
          linear-gradient(0deg, rgba(148, 26, 189, 0.66), rgba(148, 26, 189, 0.42) 3.98%, rgba(245, 195, 197, 0.00) 14.61%),
          transparent 50% / cover no-repeat;
        }

        .button {
          display: none;

          img {
            &:first-child {
              display: none;
            }

            &:last-child {
              display: block;
            }
          }
        }

        &:hover {
          .button {
            //display: block;
          }
        }
      }

      & > img {
        width: 100%;
        height: 100%;
        visibility: hidden;
      }

      .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        visibility: hidden;

        img {
          width: 260px;
          height: 260px;

          &:first-child {
            display: block;
          }

          &:last-child {
            display: none;
          }
        }

        &:hover {
          opacity: .9;

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      visibility: hidden;

      &.show {
        visibility: unset;
      }
    }

    &_desc {
      display: flex;
      margin-top: 48px;
    }

    &_text {
      color: $customDark;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: normal;
      width: 65%;
      flex: 1;
    }

    &_buttons {
      margin-left: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;

      & > *:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}





















































